/* Styling */

@media screen and (max-width: 1100px) {

  .auto-fold #wpcontent {

    padding-left: 0 !important;

  }

}



@media screen and (min-width: 1100px) {

  .content-wrap {

    padding-top: 2rem;

    padding-left: 2rem;

    padding-right: 2rem;

  }

  

  .content-body {

    margin-top: 3rem;

  }

}



.eam-panel {

  background-color: #FFF;

  padding: 0;

  border: 1px solid #eaeaea;

}



.eam-heavy-padded {

  padding: 1rem;

}



.eam-row {

  display: flex;

  height: 100%;

  flex-wrap: wrap;

}



.eam-row > * {

  width: 100%;

}



@media screen and (min-width: 1100px) {

  .eam-heavy-padded {

    padding: 5rem;

  }



  #eam-status-manager .eam-heavy-padded {

    padding: 5rem 5rem 0 5rem;

  }  

  

  .eam-row {

    flex-wrap: nowrap;

  }

  

  .eam-column-sm {

    width: 35%;

  }

  .eam-column-lg {

    width: 65%;

  }

}



#eam-status-manager {

  min-height: 820px;

  display: flex;

  flex-direction: column;

}



#eam-status-manager > .eam-row {

  flex: 1;

}



#eam-status-manager select {

  padding: 0.8rem 1.3em 0.8rem 1.3rem;

  color: #141414;

  border-color: #e6e6e6;

  width: 100%;

  appearance: none !important;

  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23111%22%2F%3E%3C%2Fsvg%3E) no-repeat right 25px top 55%;

  font-size: 1.4em;

}



#eam-status-manager select:focus-visible {

  border-color: #e4e4e4;

  box-shadow: none;

}



#eam-status-manager select:hover {

  border-color: #ddd;

  color: #141414;

}



#eam-status-controls {

  position: relative;

}



  #eam-status-controls h2 {

    font-size: 1.7rem;

    margin-top: 8rem;

    margin-bottom: 1.2rem;

    line-height: 1.2;

    color: #141414;

  }



  #eam-status-controls .eam-actions {

    position: absolute;

    top: 1rem;

    left: 1rem;

  }



    #eam-status-controls .eam-actions a {

      text-decoration: none;

    }



  @media screen and (min-width: 1100px) {

    #eam-status-controls .eam-actions {

      position: absolute;

      top: auto;

      left: 5rem;

      bottom: 3rem;

    }  

  }



#eam-order-controls {

  position: relative;

  display: flex;

  justify-content: center;

}



div#eam-order-controls::before {

  content: "";

  background: #f5f5f5;

  width: 1px;

  height: auto;

  position: absolute;

  top: 6rem;

  bottom: 6rem;

  left: 0;

}



@media screen and (min-width: 1100px) {

  #eam-order-controls .eam-heavy-padded {

    width: 100%;

    padding: 5rem 9rem 8rem 10rem;

  }

}



#eam-order-options > h2 {

  font-size: 2rem;

  margin-top: 5rem;

  margin-bottom: 4rem;

  color: #141414;

  line-height: 1.15;

  font-weight: 400;

}

#eam-order-options > h2 > div {

  font-size: 3.4rem;

  font-weight: 600;

}



#eam-order-options #order-tasks-container {

  margin: 3rem 0;

  counter-reset: number;

}

  #eam-order-options #order-tasks-container .notask-placeholder {

    font-size: 1.3em;

    color: #999;

    line-height: 1.4;

  }



#eam-order-options .accordion {

  background-color: #3c434a;

  color: #ffffff;

  cursor: pointer;

  padding: 1.4rem 1.4rem;

  width: 100%;

  text-align: left;

  border: none;

  outline: none;

  transition: 0.4s;

  font-weight: 500;

  font-size: 1rem;

  border-radius: 0;

  counter-increment: number;

  position: relative;

}



#eam-order-options .accordion:not(:first-of-type) {

  border-top: 8px solid #FFF

}



#eam-order-options .accordion:hover {

  background-color: #1f2225;

}

#eam-order-options .accordion.active {

  background-color: #1f2225;
  border-top-left-radius: 6px;

  border-top-right-radius: 6px;

}



#eam-order-options .accordion::before {

  content: '#' counter(number) ' ';

  font-weight: 700;

  font-size: 1.1em;

  line-height: 1em;

  position: absolute;

  top: 0;

  bottom: 0;

  display: flex;

  flex-direction: column;

  justify-content: center;

}



#eam-order-options .accordion:after {

  font-family: 'Font Awesome 6 Free';

  content: '\f105';

  font-size: 18px;

  font-weight: 900;

  color: #ffffff;

  float: right;

  margin-top: 2px;

  margin-left: 5px;

}



#eam-order-options .accordion.active:after {

  content: '\f107';

}



#eam-order-options .accordion span {

  margin-left: 35px;

  vertical-align: bottom;

}



#eam-order-options .accordion-panel {

  position: relative;

  padding: 2.4rem 2rem 2rem 2rem;

  border: 1px solid #eee;

  border-top: 0;

  background-color: #fefefe;

  display: none;

}



  #eam-order-options .accordion-panel .eam-task-options {

    display: inline-block;

    position: absolute;

    top: .5rem;

    right: 1.4rem;

  }

    #eam-order-options .accordion-panel .eam-task-options .eam-task-option {

      text-decoration: none;

      font-weight: 600;

      font-size: 1.11em;

    }

    #eam-order-options .accordion-panel .eam-task-options .eam-task-option:focus {

      box-shadow: none;

      border: 0;

    }

    #eam-order-options .accordion-panel .eam-task-options .eam-task-option:not(:last-child)::after {

      content: " | ";

      color: #bbb;

    }

    #eam-order-options .accordion-panel .eam-task-options .eam-task-settings {

      color: #3c434a;

    }

    #eam-order-options .accordion-panel .eam-task-options .eam-task-settings:hover {

      color: #6c6cdc;

    }



    #eam-order-options .accordion-panel .eam-task-options .eam-remove-task {

      color: #ff0000;

    }

    #eam-order-options .accordion-panel .eam-task-options .eam-remove-task:hover {

      color: rgb(255, 87, 87);

    }



.eam-task-meta-settings-container {

  position: absolute;

  right: 1.3rem;

  width: 250px;

  padding: 1.5rem;

  background: #eaeaf3;

  z-index: 10;

  box-shadow: 5px 5px 15px rgb(30 32 38 / 10%);

  border: 1px solid #cfcfe3;

}

  .eam-task-meta-settings-container input[type="checkbox"] {

    border-color: #8d8db7;

  }

  .task-meta-settings-headline {

    display: block;

    font-size: 1rem;

    margin-bottom: 1rem;

  }



#eam-order-options .eam-field {

  margin-bottom: 2rem;

}

  #eam-order-options .eam-field label {

    display: block;

    font-weight: 700;

    margin-bottom: 5px;

  }





  #eam-order-options .eam-field input[type="text"],

  #eam-order-options .eam-field textarea {

    border-color: #ccc;

    width: 100%;

  }

  #eam-order-options .eam-field input[type="text"]:focus,

  #eam-order-options .eam-field textarea:focus {

    border-color: #aaa;

    box-shadow: none;

  }



  #eam-order-options .eam-field input[type="text"] {

    max-width: 500px;

    padding: 0.3rem 0.6rem;

  }



  #eam-order-options .eam-field textarea {

    padding: 0.6rem 0.6rem;

    height: 120px;

  }



#eam-order-options .eam-params > span {

  background-color: #373787;

  margin-top: 8px;

  margin-right: 0.4rem;

  color: #FFF;

  display: inline-block;

  padding: 0.2rem 0.6rem;

  border-radius: 20px;

  cursor: pointer;

}

#eam-order-options .eam-params > span:hover {

  background-color: #5d5d96;

}



#eam-order-options .info {

  color: #aaa;

  margin-top: 0.2rem;

}



#eam-order-options .ql-editor {

  min-height: 10rem;

  background-color: #FFF;

}

#eam-order-options .ql-editor h1,

#eam-order-options .ql-editor h2,

#eam-order-options .ql-editor h3 {

  margin: 0;

}

#eam-order-options .ql-editor h2 {

  margin: 0;

}



#eam-order-options .select2-container {

  width: 100% !important;

  max-width: 500px;

}

  #eam-order-options .select2-container--default .select2-selection {

    border: 1px solid #ccc;

    line-height: 1;

  }



      #eam-order-options .select2-container--default .select2-selection .select2-selection__rendered .select2-selection__choice {

        margin-top: 2px;

        margin-bottom: 2px;

        padding: 5px 9px;

      }

    #eam-order-options .select2-container .select2-search--inline .select2-search__field {

      margin-top: 0;

    }



  #eam-order-options .select2-search{

    margin-bottom: 0;

  }



  #eam-order-options .select2-container--default .select2-selection--multiple .select2-selection__rendered {

    padding: 0.25rem 0.6rem;

    vertical-align: middle;

    overflow: visible;

  }

    #eam-order-options .select2-container .select2-search--inline:only-child { 

      float: none;

    }



    #eam-order-options .select2-container--default .select2-selection--multiple .select2-selection__rendered input::placeholder {

      color: #aaa;

    }



#eam-order-options .select2-container .select2-selection__clear {

  display: none;

}





#eam-order-options .select2-container .select2-selection--single {

  height: auto;

}

  #eam-order-options .select2-container .select2-selection--single .select2-selection__rendered,

  #eam-order-options .select2-container .select2-selection--single .select2-selection__arrow {

    padding: 0.3rem 0.6rem;

  }



#eam-order-options .eam-button {

  padding: .9rem 2.5rem;

  border: 0;

  border-radius: 4px; 

  color: #FFF;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

}
#eam-order-options .eam-filterbutton {

  padding: .9rem 2.5rem;

  border: 0;

  border-radius: 4px; 

  color: #FFF;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;
  margin-left: 20px;

}
#eam-order-options .task-meta-settings-ok-btn {

  display: block;

  margin-top: 3rem;

  margin-left: auto;

  padding: 0.7rem 2rem 0.8rem 2rem;

}



#eam-order-options #new-task-btn,

#eam-order-options .task-meta-settings-ok-btn {

  background-color: #00a5a1;

}

  #eam-order-options #new-task-btn:hover,

  #eam-order-options .task-meta-settings-ok-btn:hover {

    background-color: #00a09d;

  }



#eam-order-options #save-changes-btn {

  background-color: #141414;

  margin-top: 2.5rem;

  width: 100%;

}



@media screen and (min-width: 1100px) {

  #eam-order-options #save-changes-btn {

    background-color: #141414;

    position: absolute;

    bottom: 3rem;

    right: 4rem;

    width: auto;

    margin-top: unset;

  }

}





  #eam-order-options #save-changes-btn:hover {

    background-color: #000;

  }



  #eam-order-options #save-changes-btn[disabled],

  #eam-order-options #save-changes-btn[disabled]:hover {

    opacity: 0.2;

    background-color: #141414;

    cursor: unset;

  }



.new-task-window {

  position: relative;

}

.new-task-window .grid-container {

    width: 750px;

    position: relative;

    background-color: #FFF;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: 100px;

    justify-items: center;

    align-items: center;

    overflow: hidden;

    border-top: .5rem solid #a5ffee;

  }

.new-task-window .task-selector-unit {

    width: 100%;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    text-align: center;

    border-top: 1px solid #f2f2f2;

  }

.new-task-window .task-selector-unit:not(.placeholder) {

    cursor: pointer;

  }



    .new-task-window .task-selector-unit:not(.placeholder):hover {

      background-color: #efefef;

    }

    .new-task-window .task-selector-unit .task-icon i {

      font-size: 2.2em;

      margin-bottom: 10px;

    }

    .new-task-window .task-selector-unit#sendmail .task-icon i {

      margin-bottom: 6px;

    }



  .new-task-window .close-btn {

    position: absolute;

    top: -14px;

    right: -14px;

    width: 25px;

    height: 25px;

    border-radius: 50%;

    z-index: 50;

    text-align: center;

    background-color: rgb(240, 11, 11);

    color: #FFF;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 17px;

    cursor: pointer;

  }



#aotfw-msg-box {

  position: fixed;

  top: 6rem;

  right: 2rem;

  padding: .7rem 1rem;

  width: 250px;

  background-color: #57ab57;

  color: #FFF;

  font-weight: 500;

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.3s;

}



.backdrop-overlay {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: rgba(0,0,0,.7);

}



.ql-editor p:not(:first-child) {

  margin-top: 1em !important;

  margin-bottom: 1em !important;

}

.thickbox, .open-plugin-details-modal{

  display:none
}

.lds-roller {

  display: inline-block;

  position: relative;

  width: 80px;

  height: 80px;

}

.lds-roller div {

  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  transform-origin: 40px 40px;

}

.lds-roller div:after {

  content: " ";

  display: block;

  position: absolute;

  width: 7px;

  height: 7px;

  border-radius: 50%;

  background: #aaa;

  margin: -4px 0 0 -4px;

}

.lds-roller div:nth-child(1) {

  animation-delay: -0.036s;

}

.lds-roller div:nth-child(1):after {

  top: 63px;

  left: 63px;

}

.lds-roller div:nth-child(2) {

  animation-delay: -0.072s;

}

.lds-roller div:nth-child(2):after {

  top: 68px;

  left: 56px;

}

.lds-roller div:nth-child(3) {

  animation-delay: -0.108s;

}

.lds-roller div:nth-child(3):after {

  top: 71px;

  left: 48px;

}

.lds-roller div:nth-child(4) {

  animation-delay: -0.144s;

}

.lds-roller div:nth-child(4):after {

  top: 72px;

  left: 40px;

}

.lds-roller div:nth-child(5) {

  animation-delay: -0.18s;

}

.lds-roller div:nth-child(5):after {

  top: 71px;

  left: 32px;

}

.lds-roller div:nth-child(6) {

  animation-delay: -0.216s;

}

.lds-roller div:nth-child(6):after {

  top: 68px;

  left: 24px;

}

.lds-roller div:nth-child(7) {

  animation-delay: -0.252s;

}

.lds-roller div:nth-child(7):after {

  top: 63px;

  left: 17px;

}

.lds-roller div:nth-child(8) {

  animation-delay: -0.288s;

}

.lds-roller div:nth-child(8):after {

  top: 56px;

  left: 12px;

}

@keyframes lds-roller {

  0% {

    transform: rotate(0deg);

  }

  100% {

    transform: rotate(360deg);

  }

}



/* Tooltip container */

.eam-tooltip {

  position: relative;

  display: inline-block;

  text-align: center;

  vertical-align: middle;

  color: #FFF;

  font-weight: 500;

  width: 15px;

  height: 15px;

  margin-left: 4px;

  line-height: 1.1;

  background: #303030;

  border-radius: 100%;

  cursor: default;

}



/* Tooltip text */

.eam-tooltip .tooltip-text {

  visibility: hidden;

  width: 200px;

  background-color: black;

  color: #fff;

  text-align: left;

  padding: .8rem;

  border-radius: 6px;

  position: absolute;

  z-index: 1;

  

}



.eam-tooltip:hover .tooltip-text {

  visibility: visible;

}